form(method="POST" action="/new")
    label Name:
    br
    input(type="text" name="name")
    br
    label Message:
    br
    input(type="text" name="message")
    br
    button(type="submit") Send